html{
  position: relative;
  min-height: 100%;
}
body{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #000;
    font-weight: 300;
    font-size: 14px;
    background: #00ccff;
    margin-bottom: 80px;
    background-image: url('../images/background-image.jpg');
}

h1, h2, h3, h4, h5, h6{
    font-weight: 300;
    line-height: normal;
}

h1{
    font-size: 45px;
}

h1.logo{
    font-size: 45px;
    padding-top: 100px;
    font-family: 'Lemon', cursive;
}

h2{
    font-size: 20px;
}

h3.logo{
    font-family: 'Lemon', cursive;
}

h3{
    font-size: 17px;
}

a{
    color: #000;
    text-decoration: none;
}

a, button{
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

h2{
    font-family: 'Lemon';
}

.index_theme{
    margin-bottom: 20px;
}

.index_theme a{
    display: block;
}

.index_theme a img{
    max-width: 90%;
    margin: auto;
}
.index_theme a h2{
    margin-bottom: 20px;
}

.section{
    padding: 10px 0px;
}

.icon-social{
  margin: 5%;
}

.package{
  padding-top: 3%;
}

.text-tec{
  margin-top: 8%;
}
